@import "variables.css";
body{
    background: linear-gradient(var(--bg-color), var(--bg-color-gradient));
    min-height: 100vh;
    box-sizing: content-box;
    padding: 5vh 8vw;
}

@media(max-width: 768px) {
    body{
        padding: 0;
    }
}