@import "variables.css";
body{
    background-color: var(--bg-color);
    height: 100vh;
    box-sizing: border-box;
    padding: 5vh 8vw;
}

@media(max-width: 768px) {
    body{
        padding: 0;
    }
}